<!DOCTYPE html>
<html lang="es">
<head>
    <title><%= user.tag %></title>
    <%- include('partials/header'); -%>
    <link rel="icon" href="<%= user.displayAvatarURL() >" type="image/x-icon">
</head>
<body>
    <%- include('partials/navbar'); -%>

    <img src="<%= perfil.displayAvatarURL >" alt="">
    <h1><strong><%= perfil.tag ></strong></h1>

    <h2>Reputación:</h2>
    <p><%= perfil.reputation></p>
</body>
</html>