<!DOCTYPE html>
<html lang="es">
<head>
  <title><%= title %></title>
  <link rel="stylesheet" href="https://bootswatch.com/5/litera/bootstrap.min.css">
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap" rel="stylesheet">

  <link rel='stylesheet' href='/css/style.css' />
  <link rel="stylesheet" href="/css/navigation.css">
  <link rel="stylesheet" href="css/loader.css">

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <%- include('partials/header'); -%>

  <main class="main-container text-center" id="main">
    <h1><%= title %></h1>
    <div id="user-welcome">
        <p id="user-welcome-text">
          <% if (user) { %>
            ¡Bienvenido, <%= user.tag %>!
        </p>
            <img src="<%= user.displayAvatarURL({ dynamic: true }) %>" alt="Avatar de <%= user.username %>">
          <% } else { %>
            ¡Bienvenido, inicia sesión para continuar!
        </p>
          <a class="btn btn-warning w-50 login" id="login-button" href="/login">
            <i class="fab fa-discord"></i>  Iniciar sesión
          </a>
        <% } %>
    </div>
  </main>
</body>
</html>